@keyframes profile_img {
    0% {transform:translateY(0px)}
    100% {transform:translateY(-15px)}
}

@keyframes profile_bg {
    0% {background-position-x:0;}
    100% {background-position-x:200%;}
}
@keyframes txt_bg {
    0% {background-position-x:0px;}
    100% {background-position-x:-8000px;}
}