/* font-family: 'Shrikhand', cursive; */
body {
    overflow-x:hidden;
    background:url(../images/7598163.jpg) no-repeat fixed center;
    background-size:cover;
}
.profile_nav {
    display:flex;
    flex-flow:column nowrap;
    align-items:center;
}
.profile_nav .profile {
    padding:200px 0;
    display:flex;
    flex-flow:column nowrap;
    justify-content:center;
    align-items:center;
}
.profile_nav .profile .profile_img {
    width:200px; height:200px;
    border:6px solid #fff;
    margin: 0 0 20px 0;
    border-radius:50%;
    overflow:hidden;
    animation:profile_img 1s linear alternate infinite;
    

}
.profile_nav .profile .profile_img img {width:100%}
.profile_nav .profile h1 {
    margin: 0 0 20px 0;
    font-size:1.6rem;
    letter-spacing: -0.02rem;
    font-family: 'Shrikhand', cursive;
    background:linear-gradient(90deg, rgba(0,212,255,1), rgba(255,84,149,1), rgba(159,47,235,1), rgba(0,212,255,1));
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    background-size:500%;
    animation:profile_bg 10s linear alternate infinite;

}
.profile_nav .profile .loading {
    height:10px; width:300px;
    border-radius:5px;
    background:#fff;
    overflow:hidden;
    margin:0 0 20px 0;
}
.profile_nav .profile .loading .bar {
    display:block;
    width:300px; height:10px;
    background:magenta;
    transform:translateX(-300px);
    transition:transform 2.5s ease;
}
.profile_nav .profile .profile_img:hover~.loading .bar {
    transform:translateX(0);
}
.profile_nav .profile .follow_me {
    font-weight:700;
    margin: 0 0 20px 0;
}
.profile_nav .profile .link_btn {
    display:flex;
    flex-flow:row nowrap;
}
.profile_nav .profile .link_btn a {
    display:flex;
    flex-flow: column nowrap;
    align-items:center;
    margin:0 20px 0 0;
    width:25px; height:25px;
}
.profile_nav .profile .link_btn a span {
    font-family: 'Shrikhand', cursive;
    color:#fff;
    padding:5px;
    margin:10px 0 0 0;
    opacity:0;
    background:#222;
}
.profile_nav .profile .link_btn a:hover span {
    opacity:1;
}
.profile_nav .profile .link_btn .git {}
.profile_nav .profile .link_btn .git img {width:100%}
.profile_nav .profile .link_btn .git .btn_name {
}
.profile_nav .profile .link_btn .notion {}
.profile_nav .profile .link_btn .notion img {width:100%}
.profile_nav .profile .link_btn .notion .btn_name {}
.profile_nav .profile .link_btn .portfolio {
    margin-right:0;
}
.profile_nav .profile .link_btn .portfolio img {width:100%}
.profile_nav .profile .link_btn .portfolio .btn_name {}
.profile_nav .nav {
    display:flex;
    flex-flow:column nowrap;
    justify-content:space-between;
    width:30px; height:30px;
    margin-bottom:100px;
}
.profile_nav .nav span {
    width:100%; height:5px;
    border-radius:3px;
    background:#222;
    transition:all 0.3s;
}
.profile_nav .nav .bar1 {}
.profile_nav .nav .bar2 {}
.profile_nav .nav .bar3 {}
.profile_nav .nav:hover .bar1 {
    transform:rotate(45deg) translate(3px,-2px) scaleX(1.1);
    transform-origin:center left;
}
.profile_nav .nav:hover .bar2 {
    opacity:0;
}
.profile_nav .nav:hover .bar3 {

    transform:rotate(-45deg) translate(3px,2px) scaleX(1.1);
    transform-origin:center left;
}
.ani_2023 {
    padding:100px 0;
}
.ani_2023 .txt_bg1 {
    height:190px; width:200%;
    position:relative; right:400px;
    background:url(../images/bg2.png) repeat-x;
    transform:rotate(-10deg);
    animation:txt_bg 70s linear infinite;
}
.ani_2023 .txt_bg2 {
    height:190px; width:200%;
    position:relative; right:400px;
    background:rgba(0,0,0,0.8) url(../images/bg3.png) repeat-x;
    transform:rotate(10deg);
    animation:txt_bg 70s linear infinite;
}
.project {
    width:1260px;
    margin:0 auto;
    padding:100px 0;
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-around;
}
.project a {
    width:calc(25% - 60px / 4);
    transition:all 0.5s;
}
.project a .project_img {
    overflow:hidden;
    background-size:100%;
    border-top-left-radius:90px;
    border-top-right-radius:90px;
}
.project a .project_img img{
    width:100%;
    transition:transform 0.5s;
}

.project a:hover .project_img img {
    transform:scale(1.1);
}
.project a:hover {
    filter:drop-shadow(0 0 5px black);
}

.project a .info {
    display:block;
    position:relative; bottom:1px;
    padding:20px 0;
    width:100%;
    text-align:center;
    background-color:#fff;
}
.project a .info h1 {
    font-weight:700;
    margin-bottom:10px;
}
.project a .info p {
    margin-bottom:10px;
}
.project a .info p:nth-child(3) {
    margin-bottom:0;
}
.phone_thank {
    padding:100px 0 0 0;
    text-align: center;
    filter:drop-shadow(0 0 5px rgba(0,0,0,0.5));
}
.phone_thank h2 {
    color:#fff;
    font-size:2rem;
    margin:0 0 20px 0;
}
.phone_thank p {
    color:#fff;
    font-size:2rem;
}